Padding violates PKCS#1 v1.5 standard when you encrypt with the private key

According to section 8.1 of [RFC2313](https://tools.ietf.org/html/rfc2313#section-8.1), randomized padding (block type 02) should be applied only when you encrypt with the public key. When you encrypt with the private key, block type 00 or 01 should be applied (all bytes 00 or FF, respectively).

I'm reporting this, because I just wasted a day trying to find out why messages encrypted with Cryptodome are not decrypted properly by a third-party API (yes, I know, they shouldn't be using PKCS#1 v1.5, but it's not up to me). Really nasty problem to debug.

At the time RFC 2313 was written (22 years ago) "RSA encryption with private key" was still an acceptable expression, but by now it is clear that RSA private keys are used for signatures only, and RSA public keys are used for encryption. See the more modern [RFC 8017](https://tools.ietf.org/html/rfc8017).

Block type 0 is not used anymore.
Block type 1 is used for signature, and it is implemented in `Crypto.Signature.pkcs1_15`.
Block type 2 is used for encryption, and it is implemented in `Crypto.Cipher.PKCS1_v1_5`.

I would several problems in an API that really used private RSA keys for encryption...

Thanks for your response.

As far as I can tell, RFC 8017 does not allow encryption with the private key. It was only allowed under RFC 2313.

It would therefore seem the only two options for a library like Cryptodome would be: (1) do not allow encryption with the private key, (2) do it according to RFC 2313, the only standard that allows it. Otherwise, this operation will not be interoperable with many other libraries (e.g. OpenSSL wrappers) that support the RFC 2313 private-key encryption algorithm with block type 01.

Allowing the operation and then doing it wrong seems like the worst possible outcome, since people like me think they can do it and then they're left wondering why ciphertext is not decrypted on the other end. I realize the code in question was inherited from Pycrypto, but since you're the guy in charge now, it would be really helpful if you could rectify the situation.

PS. The API in question uses the private key for encryption to create a kind of signature. Yes, I agree it's stupid -- they should use standardized RSA signing schemes instead -- but what are you going to do? I still have to interop with them, and I could do so with PHP, Java or Node.js, but I wanted to use Python...

Yes, PyCryptodome does not allow RSA encryption with a private key.
It allows RSA encryption only with a public key.

Holy crap, just re-read the source code and you're right! It always uses the public exponent to encrypt, even if you load a private keyfile. That explains a lot.

But then I think there is a serious problem with the API and its documentation. Consider this code:

```
private_key = RSA.import_key(open("privatekey.pem").read())
rsa = PKCS1_v1_5.new(private_key)
ciphertext = rsa.encrypt(plaintext)
```

This code apparently will encrypt the plaintext, but not with the private key (as would be expected), but with the attached public key. There is **no warning or any kind of indication** as to which key will be used. You could say it's "obvious", because you're not supposed to encrypt with the private key, but it is not that obvious, since in the popular OpenSSL C library (used e.g. in PHP's openssl API) you can in fact encrypt with the private key.

I would expect it to use the public key _if_ I used the `.publickey()` method to get the associated public key `rsa = PKCS1_v1_5.new(private_key.publickey())`.

The documentation [here](https://github.com/Legrandin/pycryptodome/blob/master/lib/Crypto/Cipher/PKCS1_v1_5.py#L39) is also kind of misleading:

> If a private half is given, both encryption and decryption are possible.
> If a public half is given, only encryption is possible.

When I read this, I took it to mean that a private key can encrypt *or* decrypt, but a public key can only encrypt.

I understand you cannot make big changes to the API due to pycrypto compatibility reasons. But could you please consider improving the documentation?

1. Add clear information (for example, [here](https://www.pycryptodome.org/en/latest/src/public_key/rsa.html#Crypto.PublicKey.RSA.import_key)) saying that a RsaKey loaded from a private key file contains both the private key and the public key. I don't think that's common knowledge.
2. Add sentences like "Calling .encrypt() on a RsaKey object will always use the public RSA key, even if the object contains the private key part." in a few places in the docs. For example, [here](https://www.pycryptodome.org/en/latest/src/cipher/pkcs1_v1_5.html#Crypto.Cipher.PKCS1_v1_5.PKCS115_Cipher.encrypt), [here](https://www.pycryptodome.org/en/latest/src/cipher/pkcs1_v1_5.html#Crypto.Cipher.PKCS1_v1_5.PKCS115_Cipher.encrypt) and [here](https://github.com/Legrandin/pycryptodome/blob/master/lib/Crypto/Cipher/PKCS1_v1_5.py#L39).

Thank you for your understanding and thank you for maintaining a nice library.