Decrypting pgp messages

Hi,

I was wondering if I could get some advice.

I'm the author of a python library for decrypting pgp messages called gpglib2. I have migrated from pycrypto to pycryptodome (because of CVE-2018-6594)

I eventually got it to work (wasn't too much of a change fortunately) but I do have to use the `_decrypt` method on RSA.RsaKey and ElGamal.ElGamalKey when I'm looking at the encrypted part of a Session Key packet (https://tools.ietf.org/html/rfc4880#section-5.1)

The code in question is here:
https://github.com/delfick/gpglib2/commit/a4f102326e5b3380f5bc5bd8a953678e1c67fcd1

Is there a way of doing this that doesn't involve using a "private" method?

Thanks

That looks like a standard PKCS#1v1.5 decryption, so you might want to use the `Crypto.Cipher.PKCS1_v1_5` module (see API description and examples [here](https://www.pycryptodome.org/en/latest/src/cipher/pkcs1_v1_5.html)).

It would appear that Crypto.Cipher.PKCS1_v1_5 does not successfully decrypt the mpi values.

Also, it seems to only be for RSA keys, but this code handles ElGamalKeys too.

According to RFC4880, section 3.1, PGP uses EME-PKCS1-v1_5 encoding, which is what `Crypto.Cipher.PKCS1_v1_5` implements.

However, if you are looking for a single path to cover both RSA and ElGamal, there is no other way than using the private `_decrypt` method - ElGamal is deprecated and there are no plans to offer public ones.

Fair enough.

I tried doing something like 

```
            from Crypto.Cipher import PKCS1_v1_5
            sentinel = Random.new().read(255)
            bts = PKCS1_v1_5.new(key).decrypt(mpis[0], sentinel)
```
but the values we get from `bts` appear to be wrong after doing this.

Though, having said that, it seems that is because https://github.com/delfick/gpglib2/blob/a4f102326e5b3380f5bc5bd8a953678e1c67fcd1/gpglib/content_parsers/crypt.py#L143-L146 is unnecessary when we use PKCS1_v1_5